*{
    padding: 1px 1px 1px 1px;
    color: #7e459b;
    background-color: rgb(177, 250, 250);
}
#buttons-btn{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    background-color: #7E459B;
    padding: 8px 20px;
    border-radius: 20px;
}
